.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.body {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #8E24AA, #b06ab3);
    color: #D7D7EF;
    font-family: 'Lato', sans-serif
}

h2 {
    margin: 50px 0
}

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 450px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    transition: 0.2s
}

.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase
}

.file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0
}

.mt-100 {
    margin-top: 100px
}

@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
.container {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

hgroup {
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
}

hgroup h1 {
    font: 500 normal 1.625em "Roboto", Arial, Verdana, sans-serif;
    color: #2a3644;
    margin-top: 0;
    line-height: 1.15;
}

hgroup h2.lead {
    font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    color: #2a3644;
    margin: 0;
    padding-bottom: 10px;
}

.search-result .thumbnail {
    border-radius: 0 !important;
}

.search-result:first-child {
    margin-top: 0 !important;
}

.search-result {
    margin-top: 20px;
}

.search-result .col-md-2 {
    border-right: 1px dotted #ccc;
    min-height: 140px;
}

.search-result ul {
    padding-left: 0 !important;
    list-style: none;
}

.search-result ul li {
    font: 400 normal .85em "Roboto", Arial, Verdana, sans-serif;
    line-height: 30px;
}

.search-result ul li i {
    padding-right: 5px;
}

.search-result .col-md-7 {
    position: relative;
}

.search-result h3 {
    font: 500 normal 1.375em "Roboto", Arial, Verdana, sans-serif;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.search-result h3>a,
.search-result i {
    color: #248dc1 !important;
}

.search-result p {
    font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
}

.search-result span.plus {
    position: absolute;
    right: 0;
    top: 126px;
}

.search-result span.plus a {
    background-color: #248dc1;
    padding: 5px 5px 3px 5px;
}

.search-result span.plus a:hover {
    background-color: #414141;
}

.search-result span.plus a i {
    color: #fff !important;
}

.search-result span.border {
    display: block;
    width: 97%;
    margin: 0 15px;
    border-bottom: 1px dotted #ccc;
}